{% extends "base.html" %}
{% block content %}
  {% if not survey %}

    <h2>Please choose a survey</h2>
    <a href="{% url 'surveys:mysurveys' %}">here</a>

  {% else %}

    <h2>Survey: {{ survey.name }}</h2>
    <h3>Department: {{ department.name }} of Hospital: {{ department.hospital }}</h3>
    <div id="accordion">
      {% for section in survey.sections %}
        <div class="card">
          <div class="card-header" id="headingOne">

            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                {{ section.title }}
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{ progress.section_index }}
              {{ progress.question_index }}
              {% if forloop.counter0 == progress.section_index %}
                <form action="" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Submit">
                </form>
              {% endif %}
            </div>
          </div>
        </div>

      {% endfor %}
    </div>

  {% endif %}
{% endblock content %}
